body {
  margin: 0;
  padding: 0;
}

#root {
  border: 1px solid red;
  margin: auto;
  height: 50%;
  width: 50%;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  justify-self: center;
}

#length {
  width: 20%;
}

#result {
  border: 1px solid red;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
}